################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IdentityImplementation/.vs/IdentityImplementation/v16
/IdentityImplementation/Core/bin/Debug/netcoreapp3.1
/IdentityImplementation/Core/obj
/IdentityImplementation/Infrastructure/bin/Debug/netcoreapp3.1
/IdentityImplementation/Infrastructure/obj
/IdentityImplementation/.vs/IdentityImplementation/DesignTimeBuild
/IdentityImplementation/Membership/bin/Debug/netcoreapp3.1
/IdentityImplementation/Membership/obj
/IdentityImplementation/Web/bin/Debug/netcoreapp3.1
/IdentityImplementation/Web/obj
